/* Formular-Stile */
.activity-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Überschrift-Stile */
.activity-form h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Label-Stile */
.activity-form label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

/* Eingabefeld-Stile */
.activity-form input[type="text"] {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle; /* Neu hinzugefügt: Zentriert die Checkbox vertikal */
}

.activity-form input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle; /* Neu hinzugefügt: Zentriert die Checkbox vertikal */
}

/* Button-Stile */
.activity-form button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.activity-form button:hover {
  background-color: #45a049;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;
}
