main {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
  align-items: center;
}

.weather-header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: "Arial", sans-serif; /* Verwende eine passende Schriftart */
  font-size: 24px; /* Größe der Schrift */
  font-weight: bold; /* Fettgedruckte Schrift */
  color: #333; /* Textfarbe */
  margin-bottom: 10px; /* Abstand nach unten für eine gute Lesbarkeit */

  padding-bottom: 5px; /* Abstand zwischen Text und Unterstrich */
}

.weather-title {
}

hr {
  border: 0; /* Entfernt die standardmäßige Rahmenlinie */
  height: 1px; /* Setzt die Höhe der horizontalen Linie */
  background-color: #ccc; /* Farbe der horizontalen Linie */
  margin: 20px 0; /* Abstand über und unter der horizontalen Linie */
}
